BASEROW_API_TOKEN=TokenBaserowAqui
BASEROW_TABLE_ID=IDDaTabelaAqui
# Configuração Chatwoot
CHATWOOT_API_URL=https://app.chatwoot.com
CHATWOOT_API_TOKEN=SeuTokenDeAcesso
CHATWOOT_ACCOUNT_ID=SeuIDDeConta
CHATWOOT_INBOX_ID=IDDaCaixaDeEntradaWhatsApp

# WhatsApp Official API
WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=

REDIS_URL=redis://localhost:6379/0

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
